#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #232323;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.ReadPlayers {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.Card {
  /* backdrop-filter: blur(2px); */
  border: 1px solid rgba(153, 153, 153, 0.497);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-bottom: 25px;
  width: 400px;
  text-align: center;
  /* transition: background-color 0.5s ease-in-out; */
}

li {
  list-style: none;
  text-align:justify;
}

.mini-container {
  display: inline-block;
  vertical-align: top;
}

.updateButton, .deleteButton, .createButton, .headerBtn{
  display: inline-block;
  margin: 10px;
}

.Card.Electro {
  box-shadow: 0 0 10px #b82bac81;
}
.Card.Anemo {
  box-shadow: 0 0 10px rgb(170, 237, 170);
}
.Card.Geo {
  box-shadow: 0 0 10px gold;
}
.Card.Hydro {
  box-shadow: 0 0 10px blue;
}
.Card.Pyro {
  box-shadow: 0 0 10px red;
}
.Card.Dendro {
  box-shadow: 0 0 10px green;
}
.Card.Cryo {
  box-shadow: 0 0 10px lightcyan;
}

